Repository christophergreennov/GitIt, changes with the owners that CODEOWNERS names for each.
All owners: @christophergreennov, @frank-laskowski, @seshah, @cruzvillarruel03, @mark-anderson-nov, @pshah-nov, @Topochicho, @dlw-nov

Update New Text Document.txt
  Jose/New Text Document.txt
Owners: @cruzvillarruel03

Create reese.txt
  seshah/reese.txt
Owners: @seshah

Update README.md
  seshah/README.md
Owners: @seshah

test
  Reese/dlwtext.txt
Owners: @Topochicho

Hello
  Priyen/HellofromJose.txt
Owners: @pshah-nov

messing with other people's folders
  Jose/Readme.md
  Priyen/Readme.md
Owners: @cruzvillarruel03, @pshah-nov

Create Frank_Test
  GittingIt/dlw-folder/Frank_Test
Owners: @dlw-nov

picking on dedra
  GittingIt/dlw-folder/Readme.md
Owners: @dlw-nov

more fun
  seshah/reese.txt
Owners: @seshah

CODEOWNERS:

# This is a comment.
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence. 

* @christophergreennov

/GittingIt @christophergreennov @frank-laskowski

/seshah @seshah
/Jose @cruzvillarruel03
/mca @mark-anderson-nov
/Priyen @pshah-nov
/Reese @Topochicho
/GittingIt/dlw-folder @dlw-nov
